# ignoreing .terraform package folder i.e. provider
.terraform

# ignoreing terraform.lock.hcl file
.terraform.lock.hcl

# ignoring state file
*.tfstate
*.tfstate*

# ignoring the SSH key both PRIVATE AND PUBLIC
modules/webserver/aws_ssh
modules/webserver/aws_ssh.pub